*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: khaki;
}

#logging {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    overflow: auto;
    padding: 10px;
    font-family: monospace;
    font-size: 12px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: large;
    font-weight: 600;

    &#start-btn {
        background-color: rgb(76, 222, 76);
        &:hover {
            background-color: #45a049; /* Dark green */
        }
    }

    &#change-test-btn {
        background-color: rgb(244, 3, 196);
        &:hover {
            background-color: #923f78; /* Dark green */
        }
    }
    &#end-btn {
        background-color: rgb(255, 0, 0);
        &:hover {
            background-color: rgb(187, 30, 30);
        }
        color: white;
    }

    &.red-btn {
        background-color: rgb(232, 88, 88);
        &:hover {
            background-color: rgb(201, 56, 56);
        }
        color: white;
    }

    &.small-btn {
        padding: 8px;
        font-size: small;
        font-weight: 400;
        margin: 5px;
        letter-spacing: 2px;
    }

    &.rounded-btn {
        border-radius: 50px;
    }

    &#print-level {
        border-radius: 8px;
    }
}

#canvas {
    width: 800px;
    height: 500px;

    margin: 20px;

    /* border: solid 1px black; */
    background-color: white;
}
